<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/arquitetura.html"><i class="fa fa-info-circle"></i>Arquitetura de Comp.</a></li>
        <li><a href="/banco.html"><i class="fa fa-info-circle"></i>Banco de Dados</a></li>
        <li><a href="/reversa.html"><i class="fa fa-info-circle"></i>Eng. Reversa</a></li>
        <li><a href="/redes.html"><i class="fa fa-info-circle"></i>Redes de Comp.</a></li>
        <li><a href="/armazenamento.html"><i class="fa fa-info-circle"></i>Armazenamento</a></li>
        <li><a href="/seguranca.html"><i class="fa fa-info-circle"></i>Segurança de Comp.</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>Sobre</a></li>
      </ul>
    </div>
  </nav>
</header>